# Ignore all .json files
*.json

# Ignore all .cmake files
*.cmake

# Ignore Visual Studio directory
../.vs/
.vs/

# Ignore current directory
./

#Ignore conan bat files
*.bat

#Ignore build files
build/

#Ignore data
data/

#Ignore out directory
out/

